<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-box">
          <div class="content-main">
            <div class="content-main__icon">
              <img src="../../../assets/images/phone-book.png" alt="About us">
            </div>
            <h2 class="content-main__title">Contact</h2>
            <p class="content-main__text align-center">
              divante@divante.pl<br/><br/>
              tel. 123- 456 - 789<br/>
              tel. 887 - 236 - 324<br/><br/>
              ul. Dmowskiego 17<br/>
              00 - 000 Wrocław
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
