<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-box">
          <div class="content-main">
            <div class="content-main__icon">
              <img src="../../../assets/images/phone-book.png" alt="About us">
            </div>
            <h2 class="content-main__title">About</h2>
            <p class="content-main__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
